<div class="off-canvas-wrap" x-ng-controller='ListsCtrl'>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <!-- <h1 class="title">OffCanvas</h1> -->
                <nav class="top-bar" data-topbar>
                  <ul class="title-area">
                    <li class="name">
                      <h1 class="title">OMGNeed</h1>
                    </li>
                  </ul>
                <ul class="right">
                  <li class="has-form">
                    <div class="row collapse">
                      <%= form_tag users_path, :method => 'get' do %>
                      <div class="large-8 small-9 columns">
                        <%= text_field_tag :category, params[:category], placeholder: "search" %>
                      </div>
                      <div class="large-4 small-3 columns">
                        <%= submit_tag "Search", :name => nil, class: "button expand" %>
                      </div>
                      <% end %>
                    </div>
                  </li>
                </ul> 
                <ul class="left">
                  <li>
                   <a class="button dropdown" dropdown-toggle="#dropdown-example-2">New list</a>
                    <ul id="dropdown-example-2" data-dropdown-content class="f-dropdown content">
                      <li class="has-form">
                        
                          <form ng-submit="saveList();">        
                          <input ng-model="newList.name" placeholder="List Name" autofocus>
                          <input type="submit" value="Add New List!">
                          </form>
                        
                      </li>
                    </ul>
                  </li>
                </ul>





                
                
               
                </nav>           
            </section>

            < /br>

            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><a href="#">Left Sidebar</a></li>
            </ul>
        </aside>

        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
               
               <li><a href="#">Lists for {{users.name}}</a></li>
              
              <li ng-repeat="list in lists track by $index"><a class="button" ng-href="lists/{{list.id}}">{{list.name}}</a>
              </li>
              <li><a>{{users.email}}</a></li>
              
              
            </ul>
        </aside>

        <section class="main-section">
            <div class="small-12 columns">


              <br><br>
              <form ng-submit="saveList();">
                  
                  Name: <input ng-model="newList.name" name="quantity">
                  <input type="submit" value="Add New List!">
                </form>

               

              <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">

                <% @imports.each do |p| %>

                  <li>            
                    <div class="thumbnail">
                      <div class="caption">
                        <h5><%= p['name'] %></h5>
                        <p>Original Price: <%= p['priceLabel'] %><br>
                        <p>Sale Price: <%= p['salePriceLabel'] %><br>
                        <p><%= percent_off((p['priceLabel'].gsub(/[^\d\.]/, '').to_f), (p['salePriceLabel'].gsub(/[^\d\.]/, '').to_f)).round %>% Savings<br>
                        <h5><center><%= link_to "GO!", p['clickUrl'] %></center></h5>                 
                      </div>
                      <%= image_tag p['image']['sizes']['IPhone']['url'] %>
                    </div>
                  </li>

                <% end %>

              </ul>

            <p>Stuff at the bottom</p>
            </div>
        </section>

        <a class="exit-off-canvas"></a>
    </div>
</div>