<section id="nav">

  <div class="row">
    <div class="large-4 columns">
      <ul class="navigation hide-for-small">
        <li><a class="scroll" href="#services-nav">ABOUT</a></li>
        <li><a class="scroll" href="#work-nav">BRANDS</a></li>
      </ul>
    </div>
    
    <div class="large-4 columns text-center">
      <a href="/"><h3 id="logo">OMG<strong>NEED</strong></h3></a>
    </div>
    
    <div class="large-4 columns">
      <ul class="navigation hide-for-small">
        <% if current_user %>
            <li><%= link_to "MY FEED", users_path %></li>
            <li><%= link_to "LOGOUT", session_path(session), method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "SIGN UP", new_user_path %>
            </li>
            <li>
              <%= link_to "SIGN IN", new_session_path %>
            </li>
          <% end %>
      </ul>
    </div>
    
    <div class="open-menu show-for-small right"><i class="typcn typcn-th-menu"></i></div>
  </div>
  
  <div class="row">
    <div class="large-12 columns mobile-nav">
      <ul class="navigation">
        <li><a class="scroll" href="#work-nav">BRANDS</a></li>
        <li><a class="scroll" href="#services-nav">ABOUT</a></li>
        <% if current_user %>
            <li><%= link_to "MY FEED", users_path %></li>
            <li><%= link_to "LOGOUT", session_path(session), method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "SIGN UP", new_user_path %>
            </li>
            <li>
              <%= link_to "SIGN IN", new_session_path %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>

</section>



<div id="quote-divider" style="background-image: url('http://www.designsnext.com/wp-content/uploads/2014/02/fashion-photography-7.jpg')" >
  <div class="row">
    <div class="large-8 large-centered columns">
    <!--   <img alt="image" src="http://www.michaelgrecco.com/data/photos/292_1r24_fashion_photographer_and_director_michael_grecco.jpg" /> -->
      <h2 class="text-white">Browse your favorite stores in one simple newsfeed.</h2>
      <div class="thick-hr large-3"></div>
      <a href="users/new"><div class="btn-wrapper"><div class="btn">SIGN UP</div></div></a>
      <a href="sessions/new"><div class="btn-wrapper"><div class="btn">LOG IN</div></div></a>
    </div>
  </div>
</div>

<a id="services-nav"></a>
<section id="services" class="pad-large">

  <div class="row">
    <div class="large-12 columns text-center">
      <div class="page-header pad-bottom">
        <div class="box-heading">
          SHOP YOUR FAVORITE STORES IN ONE PLACE.
        </div>
        <h1>THE LOWDOWN.</h1>
        <div class="hr large-1 small-3"></div>
      </div>
    </div>
  </div>
  
  <div class="row services-row">
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-beaker"></i>
        <h5>SEARCH BRANDS</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          SEARCH BRANDS
        </p>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-lightbulb"></i>
        <h5>BROWSE</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          BROWSE
        </p>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-brush"></i>
        <h5>SAVE TO LISTS</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          SAVE TO LISTS
        </p>
      </div>
    </div>
    
  </div>
  
  <div class="row services-row">
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-support"></i>
        <h5>SEE NEW ITEMS</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          SEE NEW ITEMS
        </p>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-beer"></i>
        <h5>SHOP</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          SHOP
        </p>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="service text-center">
        <i class="typcn typcn-eye-outline"></i>
        <h5>PURCHASE</h5>
        <div class="hr large-3 small-3"></div>
        <p>
          PURCHASE
        </p>
      </div>
    </div>
    
  </div>
  
</section>

<section id="clients" style="background-image: url('http://images.fineartamerica.com/images-medium-large/new-york-city-skyline-sunrise-stephanie-mcdowell.jpg')">

<div id="clients" style="background-image: url('http://images.fineartamerica.com/images-medium-large/new-york-city-skyline-sunrise-stephanie-mcdowell.jpg')" >

  <div class="row">
    <div class="large-12 columns text-center">
      <h3 class="text-white">BRANDS THAT YOU LOVE <i class="typcn typcn-heart-outline">&nbsp;</i></h3>
      <div class="hr large-1 small-3"></div>
    </div>
  </div>
  
  <div class="row">
    
    
  

    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.designsnext.com/wp-content/uploads/2014/02/fashion-photography-7.jpg" />
          <div class="work-overlay">
            <h6>NEIMAN MARCUS</h6>
            <div class="hr large-2 small-2"></div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
         <!--  <img alt="Work Image" src="http://nastygal.affiliatetechnology.com/images/logo_01.jpg" /> -->
          <img alt="Work Image" src=" http://blog.nastygal.com/wp-content/uploads/2012/07/lais.jpg" />
         
          <div class="work-overlay">
            <h6>NASTY GAL</h6>
            <div class="hr large-2 small-2"></div>
            
          </div>
        </div>
      </div>
    </div>
    
     <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.wwd.com/images/processed/wwd/2012/08/27/memo-forever21/landscape/02-tout/forever2104.jpg" />
          <div class="work-overlay">
            <h6>FOREVER 21</h6>
            <div class="hr large-2 small-2"></div>
          
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  </div>
  </section>
</section>

<a id="work-nav"></a>
<section id="work" class="pad-large">

  <div class="row">
    <div class="large-12 columns text-center">
      <div class="page-header pad-bottom">
        <div class="box-heading">
          CHECK THIS OUT
        </div>
        <h3 class="text-black">YOUR MOST LOVED STORES <i class="typcn typcn-heart-outline">&nbsp;</i></h3>
        <div class="hr large-1 small-3"></div>
      </div>
    </div>
  </div>
  
  <div class="row work-row">
  
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://momspark.net/wp-content/uploads/2013/08/Free-People-Logo.jpg" />
          <div class="work-overlay">
            <h6>FREE PEOPLE</h6>
            <div class="hr large-2 small-2"></div>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.ahoodie.com/wp-content/uploads/2013/04/gucci-desktop-8.jpg" />
          <div class="work-overlay">
            <h6>GUCCI</h6>
            <div class="hr large-2 small-2"></div>
           
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://www.en.pambianconews.com/wp-content/uploads/2012/12/asos_1753loj-1753lpp.jpeg" />
          <div class="work-overlay">
            <h6>ASOS</h6>
            <div class="hr large-2 small-2"></div>
           
          </div>
        </div>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://img4-3.realsimple.timeinc.net/images/1106/urban-outfitters_300.jpg" />
          <div class="work-overlay">
            <h6>URBAN OUTFITTERS</h6>
            <div class="hr large-2 small-2"></div>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="https://1.bp.blogspot.com/-Y0cdEurg8xw/TvrPm88J02I/AAAAAAAABAE/z90ctKWrhHo/s1600/Signature-Master.jpg" />
          <div class="work-overlay">
            <h6>JEFFREY CAMPBELL</h6>
            <div class="hr large-2 small-2"></div>
           
          </div>
        </div>
      </div>
    </div>
    
    <div class="large-4 columns">
      <div class="work-item" data-project-id="project-1">
        <div class="work-img-holder">
          <img alt="Work Image" src="http://mandarincommunicationsgroup.com/wp-content/uploads/2014/03/Saks_Fifth_Avenue79.png" />
          <div class="work-overlay">
            <h6>SAKS FIFTH AVENUE</h6>
            <div class="hr large-2 small-2"></div>

          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  

  
</section>

<a id="contact-nav"></a>
<a id="contact-nav"></a>
<section id="contact">


  
  <div id="contact-holder">
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="page-header pad-bottom">
          <div class="box-heading">
            SHOP 'TIL YOU DROP
          </div>
          <h1>GIMME MY <strong>NEWSFEED!</strong></h1>
          <div class="hr large-1 small-3"></div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="large-5 columns">
     
        </p>
        <ul id="contact-details">
          <li><i class="typcn typcn-location-outline">&nbsp;</i>made with love in los angeles.</li>
          <li><i class="typcn typcn-social-twitter">&nbsp;</i>General Assembly</li>
        </ul>
      </div>
      

    <div class="row">
      <div class="large-12 columns text-center">
        <div id="footer">
          <div class="hr large-1 small-3"></div>
          <ul id="footer-social">
         
          </ul>
          <div id="copy-text">&copy;&nbsp;&nbsp;<span class="logo-text">OMGNEED</span>&nbsp;&nbsp;2014</div>
        </div>
      </div>
    </div>
  </div><!-- end of contact holder -->

</section>




  <script>
    $(document).foundation();
  </script>